body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f5f2;
  color: #333;
}

header {
  background-color: #d6bfae;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.stitch-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, auto);   /* 2 rows */
  gap: 15px;
}


.stitch-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.stitch-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.stitch-card button {
  background-color: #a26769;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.stitch-card button:hover {
  background-color: #8c4f52;
}

#stitchDetail img {
  max-width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}
